body{
    background: cornflowerblue;
    text-align: center;
    color: white;
    font-family: Arial;
}

#container{
    border: 1px solid red;
    text-align: center;
    background: green;
    margin: 0 auto;
}